@if (alertar) {

@switch (mensagem.tipo) {
@case('primary') {
<div class="d-block d-sm-flex align-items-center w-100">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        {{mensagem.mensagem}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
}
@case('warning') {
<div class="d-block d-sm-flex align-items-center w-100">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{mensagem.mensagem}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
}
@case('danger') {
<div class="d-block d-sm-flex align-items-center w-100">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{mensagem.mensagem}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
}
@case('info') {
<div class="d-block d-sm-flex align-items-center w-100">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{mensagem.mensagem}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
}
}
}