<div class="d-flex justify-content-between">
    <p class="fs-4">Subir Relatório de Fiscalização no SEI</p>
</div>
<div>
    <p class="fs-6">
        Após finalizar a geração do <strong>Relatório de Fiscalização</strong> e não existindo nenhuma
        pendência, inclua no processo <strong>202000005030322</strong> os seguintes arquivos:</p>

    <ul>
        <li> Relatório de Atividades Provisório; (encaminhado pelo proposto(a))</li>
        <li> Anexo de Evidências; (arquivo único com todas as evidências da fiscalização)</li>
        <li> Relatório de Fiscalização</li>
    </ul>

    <p>Obs.: <em>Os valores do Relatório de Atividades Provisório e do Relatório de Fiscalização devem ser os
            mesmos.</em></p>

    <div>
        <ol>
            <li>Incluir o Relatório de Atividades Provisório no processo. (imagem01)</li>
            <li>Incluir as evidências da fiscalização no processo. (imagem02)
                <ul>
                    <li>Compacte todos os arquivos de evidências da fiscalização (Evidências envidadas pela GEPROJ,
                        planilha utilizada para geração do relatório) em um unico arquivo (zip) e anexe ao processo.
                    </li>
                </ul>
            </li>
            <li>Gere o relatório de fiscalização conforme 'texto padrão' disponivél no SEI. (imagem03)
            </li>
        </ol>
    </div>

</div>
<div class="d-block d-lg-flex my-4">
    <figure class="my-2">
        <img src="./assets/relatorioAtividadesProvisorio.png" class="img-fluid rounded shadow-lg"
            alt="relatorioAtividadesProvisorio" title="relatorioAtividadesProvisorio" />
        <figcaption class="text-center "> <strong>Imagem 01</strong></figcaption>
    </figure>
    <div class="mx-2">
        <P><strong>Legenda da imagem 01</strong></P>
        <ul>
            <li>Incluir Documetnto => Externo</li>
            <li>Tipo de documento: Relatório de atividades</li>
            <li>Data: Data atual</li>
            <li>Número: Vai ser sempre o nome provisório</li>
            <li>Nomé na árvore: É o nome da OS do mês atual</li>
            <li>Formato: Nato Digital</li>
            <li>Nível de acesso: Público</li>
            <li>Anexe o relatório recebidodo preposto e salve.</li>
        </ul>
        <p><em>O tipo de documento, número e nome na árvore serão concatenados para formar o nome do arquivo.</em><br>
            No exemplo da imagem 01 o nome será: Relatório de Atividades Provisório - OS nº 2023/09 - 001 - GEDS -
            Setembro/2023
        </p>
    </div>
</div>
<div class="d-block d-lg-flex my-4">
    <figure class="my-2">
        <img src="./assets/anexoEvidencias.png" class="img-fluid rounded shadow-lg" alt="anexoEvidencias"
            title="anexoEvidencias" />
        <figcaption class="text-center "> <strong>Imagem 02</strong></figcaption>
    </figure>
    <div class="mx-2">
        <P><strong>Legenda da imagem 02</strong></P>
        <ul>
            <li>Incluir Documetnto => Externo</li>
            <li>Tipo de documento: Anexo (escolha o tipo que tenha apenas a inicial maiúscula)</li>
            <li>Siga o exemplo da imagem 02</li>
        </ul>
    </div>
</div>
<div class="d-block d-lg-flex my-4">
    <figure class="my-2">
        <img src="./assets/relatorioFiscalizacao.png" class="img-fluid rounded shadow-lg" alt="relatorioFiscalizacao"
            title="relatorioFiscalizacao" />
        <figcaption class="text-center "> <strong>Imagem 03</strong></figcaption>
    </figure>
    <div class="mx-2">
        <P><strong>Legenda da imagem 03</strong></P>
        <ul>
            <li>Incluir Documetnto => Relatório de Fiscalização</li>
            <li>Texto Inicial: Texto padrão</li>
            <li>I - Selecione: Relatório de Fiscalização G4F e clique em "TRANSPORTAR"</li>
            <li>Número e Nome na Árvoce: Siga o padrão (imagem03) de acordo com o mês fiscalizado</li>
            <li>Nível de Acesso: Público</li>
            <li>Salvar</li>
        </ul>
        <p>O texto que deve ser alterado no relatorio de fiscalização está destacado em vermelho. (imagem04)</p>
    </div>
</div>
<div class="d-block d-lg-flex my-4">
    <figure class="my-2">
        <img src="./assets/modeloRelatorio.png" class="img-fluid rounded shadow-lg" alt="modeloRelatorio"
            title="modeloRelatorio" />
        <figcaption class="text-center "> <strong>Imagem 04</strong></figcaption>
    </figure>
</div>
