<div class="row">
    <div class="col-md-3 position-relative">
        <h3>Tarefa</h3>
    </div>
</div>
<p class="my-0"><em>Clique no número da tarefa para ir ao Redmine.</em></p>

<div class="row mb-5">
    <div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-secondary bg-opacity-75 flex">
                    <h5 class="my-0">
                        <a href="{{
                  'redmine-url/issues/' + tarefa.numero
                }}" class="link-light text-decoration-none" target="_blank">{{ tarefa.numero }}</a>
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table; &quot;table-borderless&quot;">
                        <tbody>
                            <tr>
                                <th style="width: 15%" scope="row">Serviço</th>
                                <td>{{ tarefa.servico.atividade }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Data</th>
                                <td>{{ tarefa.dataFechamento }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Projeto</th>
                                <td>{{ tarefa.projeto }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Entregável</th>
                                <td>{{ tarefa.servico.entregaveis }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Anexos</th>
                                <td>
                                    <ul class="list-group">
                                        <li *ngFor="let anexo of tarefa.evidencias" class="list-group-item"
                                            style="border: 0; padding-left: 0">
                                            <a [href]="anexo.link" target="_blank">{{
                                                anexo.nome
                                                }}</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>